h1,h2,h3,h4 {
  color:blueviolet;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.first {
  font-style: italic;
}

#second {
  color: #ef22aa;
  font-size: 0.6em;
  line-height: 120%;
}

.third {
  text-decoration: underline;
}

a:hover {
  font-weight: bolder;
  font-size: 1.1em;
  letter-spacing: 0.5em;
}

ul li {
  list-style-type: "◈"; /* li 기호를 ◈ 변경 */
  padding-left: 10px; /* 글의 왼쪽 여백을 추가. (◈ 오른쪽)
}